@model DebtorSearch.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })

<ng-form id="Registration" name="Registration">

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
            <input class="form-control" placeholder="example@nics.co.za" data-val-regex-pattern="^[a-zA-Z]+@("@")nics\.co\.za$" id="Email" name="Email" type="text" value="" ng-model="Email" ng-required="true">
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input class="form-control" id="Password" name="Password" type="password" value="" ng-model="Password" ng-required="true" placeholder="The password must contain at least a non letter or digit character,upper case , lower case and a special character and minimum 7 characters">
            @*@Html.PasswordFor(m => m.Password, new { @class = "form-control" })*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input class="form-control" id="ConfirmPassword" name="ConfirmPassword" type="password" value="" ng-model="ConfirmPassword" ng-required="true">
            @*@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })*@
            <input class="form-control" id="Name" name="Name" type="text" value="" ng-model="Name" ng-required="true">

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })*@
            <input class="form-control" id="Surname" name="Surname" type="text" value="" ng-model="Surname" ng-required="true">
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmployeeNo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })*@
            <input class="form-control" id="EmployeeNo" name="EmployeeNo" type="text" value="" ng-model="EmployeeNo" ng-required="true">
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Department, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select name="Department" id="Department" class="form-control" ng-model="Department" ng-required="true">
                @foreach (var role in Model.UserRoles)
                {
                    <option value="@role.Value">@role.Text</option>
                }
            </select>

            @*@Html.DropDownList("Department", new SelectList(ViewBag.Roles, "Value", "Text"), "Please Select", new { @class = "form-control" })*@

            @*@Html.TextBoxFor(m => m.Department, new {@class = "form-control"})*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SecurityQuestion, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select name="SecurityQuestion" id="SecurityQuestion" class="form-control" ng-model="SecurityQuestion" ng-required="true">
                @foreach (var question in Model.SecurityQuestions)
                {
                    <option value="@question.Value">@question.Text</option>
                }
            </select>
            @*@Html.DropDownListFor(m => m.SecurityQuestion, new { @class = "form-control" })*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SecurityAnswer, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input class="form-control" id="SecurityAnswer" name="SecurityAnswer" type="text" value="" ng-model="SecurityAnswer" maxlength="20" ng-required="true" ng-maxlength="15">
            @*@Html.TextBoxFor(m => m.SecurityAnswer, new { @class = "form-control" })*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Register" ng-disabled="Registration.$invalid" />
            <input type="button" class="btn btn-primary" value="Back" onclick="history.go(-1)" />
        </div>
    </div>

</ng-form>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
